.Chat {
  position: relative;
  display: grid;
  grid-template-columns: 28% auto;
  gap: 1rem;
}

.Left-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Chat-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--cardColor);
  /* border-radius: 1rem; */
  height: 97%;
  /* min-height: 80vh; */
  overflow: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 2px 0px 0px;
}

.Chat-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Right-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conversation:hover {
  background: #80808038;
  cursor: pointer;
}

.conversation {
  border-radius: 0.5rem;
  padding: 10px;
}

.conversation>div {
  position: relative;
}

.online-dot {
  background-color: rgb(147, 244, 0);
  border-radius: 50%;
  position: absolute;
  left: 2.3rem;
  width: 1rem;
  height: 1rem;
}


.chatbox-empty-message {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}


@media screen and (max-width: 768px) {
  .Chat {
    grid-template-columns: 16% auto;
  }

  .follower.conversation>div>.name {
    display: none;
  }
}

.Chat-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Chat-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

