.ChatBox-container {
    background: var(--cardColor);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 14vh 57vh 13vh;
}

.ChatBox-container-null {
    background: var(--cardColor);
    border-radius: 1rem;
    grid-template-rows: 14vh 57vh 13vh;
}

.chat-header {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
}

.chat-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    overflow: scroll;
}

.message {
    background: var(--buttonBg);
    color: rgb(0, 0, 0);
    padding: 0.7rem;
    border-radius: 1rem 1rem 1rem 0;
    max-width: 28rem;
    min-width: 10rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border:.5px solid rgb(168, 168, 168);
    background: linear-gradient(98.63deg, #e4e3e3 0%, #d8d6d6 100%);
    gap: 0.5rem;
}

.message>span:nth-child(2) {
    font-size: 0.7rem;
    color: var(--textColor);
    align-self: end;
}

.own {
    color: black;
    width: max-content;
    align-self: flex-end;
    border-radius: 1rem 1rem 0 1rem;
    border:.5px solid rgb(168, 168, 168);
    background: linear-gradient(98.63deg, #efefef 0%, #efefef 100%);
}



.chat-sender {
    background: rgb(227, 227, 227);
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    align-self: end;
}

.chat-sender>input {
    height: 70%;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding: 0px 15px 0px 15px;
}

/* .chat-sender>div:nth-of-type(1) {
    background: rgb(233, 233, 233);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer
} */

.chat-sender>div {
    height: 95%;
    padding: 0px 15px 0px 15px;
    display:flex;
    align-items: center;
}

.chat-body::-webkit-scrollbar {
    display: none;
}

.sendButton{
    color: rgb(255, 255, 255);
    background: linear-gradient(98.63deg, #9d98d4 0%, #5752cf 100%);
}

.sendButtonDisabled{
    color: white;
    background: linear-gradient(98.63deg, #cfcfea 0%, #cbcbd9 100%);
}


/* Hide scrollbar for IE, Edge and Firefox */
.chat-body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}